<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopta un amigo fiel</title>
    <link href="static/css/estilos.css" rel="stylesheet"/>
</head>
<body>
    <h1>Adopta un amigo fiel</h1>
    <ul>
        <li><a href="Inicio.html"><img src="static/Imagenes/logo.png" width=auto height="50px" alt="Logo"></a>
        </li>
        <li><a href="Inicio.html">Inicio</a></li>
        <li><a href="acercade.html">Acerca de</a></li>
        <li><a href="MasDesaparecidas.html">Mascotas<br>desaparecidas</a></li>
        <li><a href="MasEncontradas.html">Mascotas<br>encontradas</a></li>
        <li><a href="Adopcion.html">Adopta un <br> amigo fiel</a></li>
    </ul>
</body>
</html>